/* mobile-styling-start */
.hero-shows {
  width: 100vw;
  height: 29.5rem;
  background-image: url("../assets/images/Shows-hero.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container {
    height: 472px;
    background-color: rgba($black, 0.5);
    padding: 0 1rem 0 1rem;
  }
  &__subtitle {
    @include mobile-subheader;
    color: $white;
    margin: 0;
    padding: 4rem 0 0 0;
  }
  &__title {
    font-family: avenir-bold;
    color: $white;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 1rem 0 4rem 0;
    margin: 0;
  }
  &__song {
    width: 18rem;
    height: 6rem;
  }
}
/* mobile-styling-end */

/* tablet-styling-start */
@include medium {
  .hero-shows {
    width: 100vw;
    height: 41.875rem;
    &__container {
      width: 100vw;
      height: 41.875rem;
      padding: 0 1.5rem 0 1.5rem;
    }
    &__subtitle {
      font-size: 1.5rem;
      font-family: avenir-bold;
      padding: 6rem 0 0 0;
    }
    &__title {
      @include hero-header;
      width: 37.8125rem;
      padding: 3rem 0 4rem 0;
    }
    &__song {
      width: 27.25rem;
      height: 9.125rem;
    }
  }
}
/* tablet-styling-end */

/* desktop-styling-start */
@include large {
  .hero-shows {
    width: 100vw;
    height: 41.875rem;
    &__container {
      width: 100vw;
      height: 41.875rem;
      padding: 0 11.25rem 0 11.25rem;
      display: flex;
    }
    &__subtitle {
      font-size: 1.5rem;
      font-family: avenir-bold;
      padding: 10rem 0 0 0;
    }
    &__title {
      width: 39.8125rem;
      padding: 3rem 4rem 0 0;
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    &__song-container {
      height: 429px;
      display: flex;
      align-items: flex-end;
    }
    &__song {
      width: 27.25rem;
      height: 9.125rem;
    }
  }
}
/* desktop-styling-end */
